Repository biohackerellie/pushpop, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“Œ area: ci, ğŸ“Œ area: ts, ğŸ“Œ area: 

chore: added comment somewhere to force ci github action
  ts-client/src/index.ts
Labels: ğŸ“Œ area: ts

trying to fix ci
  .changeset/sweet-ladybugs-act.md
Labels: none

ci is a pain in the butt
  .github/workflows/npm-release.yml
Labels: ğŸ“Œ area: ci

fix biome
  ts-client/biome.json
  ts-client/package.json
Labels: ğŸ“Œ area: ts

on last fix damnit
  .changeset/thick-rabbits-bake.md
Labels: none

chore: add turbo repo
  .air.toml
  .gitignore
  biome.json
  package.json
  pnpm-lock.yaml
  ts-client/package.json
  ts-client/tsup.config.ts
  turbo.json
Labels: ğŸ“Œ area: ts

chore: more ci changes
  .changeset/config.json
  .changeset/violet-games-camp.md
  .github/CODEOWNERS
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  client.go
  package.json
  pnpm-workspace.yaml
  ts-client/package.json
  turbo.json
Labels: ğŸ“Œ area: ci, ğŸ“Œ area: ts, ğŸ“Œ area: 

chore: fix docker build
  .github/workflows/ci.yml
  .github/workflows/npm-release.yml
Labels: ğŸ“Œ area: ci

fix linting
  .github/workflows/ci.yml
  package.json
Labels: ğŸ“Œ area: ci

fix labels
  .github/workflows/prs.yml
Labels: ğŸ“Œ area: ci

chore: fix build flow
  .github/workflows/npm-release.yml
Labels: ğŸ“Œ area: ci

fix package.json
  ts-client/package.json
Labels: ğŸ“Œ area: ts

Structured logging added
  .changeset/polite-goats-allow.md
  .github/renovate.json
  client.go
  cmd/main.go
  hub.go
  package.json
  pnpm-lock.yaml
Labels: ğŸ“Œ area: ci, ğŸ“Œ area: 

chore: update renovate
  .github/renovate.json
Labels: ğŸ“Œ area: ci

chore: add tests
  package.json
  ts-client/test/index.test.ts
Labels: ğŸ“Œ area: ts

add tests to gh workflow
  .github/workflows/ci.yml
Labels: ğŸ“Œ area: ci

fix renovate
  .github/renovate.json
Labels: ğŸ“Œ area: ci

chore: updates
  Dockerfile
  cmd/main.go
Labels: none

fix: biome
  pnpm-lock.yaml
  ts-client/biome.json
  ts-client/package.json
Labels: ğŸ“Œ area: ts

update 2.0.1
  ts-client/package.json
Labels: ğŸ“Œ area: ts

fix: dockerfile
  Dockerfile
Labels: none

docker fixes
  Dockerfile
  cmd/main.go
  docker-compose.yml
Labels: none

.github/labeler.yml:

"ğŸ“Œ area: ci":
  - any: [".github/**/*"]

"ğŸ“Œ area: ts":
  - any: ["ts-client/**/*"]

"ğŸ“Œ area: ":
  - any: ["*.go"]
